.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  width: fit-content;
  height: 36px;
  padding: 0.4rem 0.8rem;
  font-size: 16px;
}

.button img {
  width: 20px;
  height: 20px;
}